[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
plotly = "==5.14.1"
pillow = "*"
psycopg2 = "*"
django-dump-load-utf8 = "*"
python-decouple = "*"
django-daraja = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
