{% extends 'main.html' %}

{% block content %}

<style>
    .utilitycontainer{
        width: 50%;
    }

    @media screen and (max-width: 720px){
        .utilitycontainer{
            width: auto;
        }
    }
</style>

<h1 class="ms-3">Dashboard</h1>

{% if request.user.profile.usertype == "consumer" %}
<a href="{% url 'contract' %}" class="btn btn-primary ms-3">Sign Contract</a>
{% endif %}
<div>
    {% for x in data %}
    <div class="bg-primary text-light p-3 m-3 rounded-3 utilitycontainer">
        <h3>{{x.name}}</h3>
        <p>user: {{x.user}}</p>
        <p>connected since: {{x.created}}</p>
        <p>provider: {{x.supplier}}</p>
        {% if request.user.profile.usertype == "supplier" %}
        <button class="btn btn-dark mb-3" data-bs-toggle="modal" data-bs-target="#{{x.user.username}}">update reading</button>
        {% else %}
        <a href="{% url 'utilityDetails' x.name %}" class="btn btn-dark mb-3">Billing History</a>
        <a href="{% url 'payment' %}" class="btn btn-dark mb-3">make payment</a>
        {% endif %}
    </div>
    <div class="modal fade" id="{{x.user.username}}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Update {{x.name}}</h2>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <label class="form-label">Reading</label>
                        <input type="hidden" name="utility" value="{{x.id}}"/>
                        <input type="number" class="form-control mb-3" name="reading"/>
                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if request.user.profile.usertype == "consumer" %}
<a href="{% url 'invoice' %}" class="btn btn-primary m-3">get invoice</a>
<h1 class="ms-3">Recent readings</h1>
<div style="width: 90%;" class="ms-3">
    {{line | safe}}
</div>
{% endif %}

{% endblock %}