{% extends 'main.html' %}

{% block content %}

<div class="container rounded-4 mt-5 shadow" style="overflow: hidden;">
    <div class="row" style="height: 70vh;">
        <div class="login-img col-7 d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-light">Don't have an account?</h1>
            <a href="/signup/" class="text-light">sign up</a>
        </div>
        <div class="col d-flex justify-content-center align-items-center" style="background-color: white;">
            <form action="" class="my-5 col-8">
                <label for="" class="form-label">Usename</label>
                <input type="text" class="form-control mb-3">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control mb-4">
                <input type="submit" value="Login" class="btn btn-primary col-4">
            </form>
        </div>
    </div>
</div>

{% endblock %}