<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BILLING APP - {{HOME}}</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="..\..\static\plugin\bootstrap-5.2.3-dist\bootstrap-5.2.3-dist\css\bootstrap.min.css">
</head> 
<body class="bg-light">
    <div class="navbar navbar-expand navbar-dark bg-dark main-nav">
        <div class="container">
            <a href="/" class="navbar-brand">BILLING APP</a>
            <div class="navbar-nav">
                <a href="/dashboard/" class="nav-link navbar-brand">Dashboard</a>
                {% if request.user.is_authenticated %}
                <a href="/logout/" class="nav-link">logout</a>
                <div class="text-light d-flex align-items-center">logged in as {{request.user}}</div>
                {% else %}
                <a href="/login/" class="nav-link">login</a>
                <a href="/signup/" class="nav-link">signup</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% block content %}

    {% endblock %}
    <script src="..\..\static\plugin\bootstrap-5.2.3-dist\bootstrap-5.2.3-dist\js\bootstrap.bundle.min.js" ></script>
</body>
</html>