{% extends 'main.html' %}

{% block content %}

<style>
    .responsive-table{
        overflow-y: hidden;
    }

    @media screen and (max-width: 700px) {
        .responsive-table{
            overflow-y: scroll;
        }
    }
</style>

<div style="width: 90%;" class="mx-auto">
    {{line | safe}}
</div>

<div class="container">
    <h2 class="text-center my-3">Billing History</h2>
    <div class="responsive-table">
        <table class="table table-striped table-bordered mt-4 mx-auto tablefont" style="min-width: 700px;">
            <thead class="table-dark">
                <tr class="">
                    <th>id</th>
                    <th>date</th>
                    <th>Previous Reading</th>
                    <th>Current reading</th>
                    <th>Difference</th>
                    <th>Amount(KES)</th>
                </tr>
            </thead>
            <tbody>
                {% for x in invoices %}
                <tr class="">
                    <td class="p-3">{{x.id}}</td>
                    <td class="p-3">{{x.created}}</td>
                    <td class="p-3">{{x.previousreading}}</td>
                    <td class="p-3">{{x.currentreading}}</td>
                    <td class="p-3">{{x.consumed}}</td>
                    <td class="p-3">{{x.consumptionamount}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}