{% extends 'main.html' %}

{% block content %}

<style>
    @media screen and (max-width: 375px) {
        .tablefont{
            font-size: 0.7em;
        }
    }
</style>

<div style="width: 90%;" class="mx-auto">
    {{line | safe}}
</div>

<h2 class="text-center my-3">Billing History</h2>
<table class="table table-striped table-bordered mt-4 mx-auto tablefont" style="width: 90%;">
    <thead class="table-dark">
        <tr class="">
            <th>Reading</th>
            <th>Date</th>
            <th>Difference</th>
            <th>Amount(KES)</th>
        </tr>
    </thead>
    <tbody>
        {% for x in data %}
        <tr class="">
            <td class="p-3">{{x.0}}</td>
            <td class="p-3">{{x.2}}</td>
            <td class="p-3">{{x.1}}</td>
            <td class="p-3">{{x.3}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}