{% extends 'main.html' %}

{% block content %}

<h1 class="ms-3">{{utility}}</h1>

<h3 class="ms-3">Usage history</h3>
<a href="{% url 'invoice' utility %}" class="btn btn-primary m-3">get invoice</a>
<div style="width: 90%;">
    {{line | safe}}
</div>

<div id="invoice">
<table class="table table-striped table-bordered w-75 m-4">
    <thead class="table-dark">
        <tr>
            <th>Reading</th>
            <th>Date</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for r in readings %}
        <tr>
            <td class="p-3">{{r.reading}}</td>
            <td class="p-3">{{r.created}}</td>
            <td class="p-3"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<script>
    // const invoiceButton = document.getElementById("invoiceButton")
    // const content = document.getElementById("invoice")
    // invoiceButton.addEventListener("click", () => {
    //     let invWindow = window.open("", "PRINT")
    //     invWindow.document.write(content.innerHTML)
    //     invWindow.document.close()
    //     invWindow.focus()
    //     invWindow.print()
    // })
</script>
{% endblock %}