.gradient{
    background-image: url('../images/gradientbackground.jpg');
    height: 600px;
    background-size: cover;
}

.dash-img{
    background-image: url('../images/watermeter.jpg');
    background-size: cover;
    width: 100%;
    aspect-ratio: 5 / 3;
    /* height: 400px; */
}

.home-links{
    min-width: 110px;
}

.login-img{
    background-image: url('../images/gradientbackground.jpg');
    background-size: cover;
}

.landing-logo{
    width: 50px;
}

.signature-canvas{
    border: 2px solid black;
    border-radius: 5px;
    cursor: url('../images/pen-tool.png'), pointer;
}

@media screen and (max-width: 375px) {
    .signature-canvas{
        width: 100%;
    }    
}

@media print {
    .main-nav{
        display: none;
    }
}