.gradient{
    background-image: url('../images/gradientbackground.jpg');
    height: 600px;
    background-size: cover;
}

.dash-img{
    background-image: url('../images/watermeter.jpg');
    background-size: cover;
    height: 400px;
}

.login-img{
    background-image: url('../images/gradientbackground.jpg');
    background-size: cover;
}

.landing-logo{
    width: 50px;
}

.signature-canvas{
    border: 2px solid black;
    border-radius: 5px;
    cursor: url('../images/pen-tool.png'), pointer;
}

@media (pointer: coarse){
    body{
        overflow: hidden;
    }
}